.butFrame * {
    transition: all .5s ease;
    box-sizing: border-box;
}

.buttons{
    max-height: 220px;
    overflow: hidden;
    cursor: pointer;
    img{
        transition: all .7s;
    }
    &:hover{
        img{
            transform: scale(1.08);
            z-index: 30;
        }
    }
}

  .butFrame {
    position: relative;
    overflow: hidden;
    margin: 5px;
    background: #111;
    font-family: inherit;
    font-size: 1em;
    text-align: center;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    text-decoration: none;
    background-position: center!important;
    background-size: cover!important;
    padding-bottom: 200px;
  }
  
  .butFrame:before{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    content:"";
    background: #111;
    opacity: .2
  }
  
  
  .butFrame .butTextWrap {
    font-family: inherit;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .butFrame .butTextWrap::before{
    pointer-events: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .butFrame .butTextWrap::after {
    pointer-events: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .butFrame .butTextWrap,
  .butFrame .butTextWrap > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Anchor will cover the whole item by default */
  
  .butFrame .butTextWrap > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
  }
  
  .butFrame p {
    margin-top: 15px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 72.5%;
    font-family: inherit;
  }
  
  /* EFFECT */
  
  
  .butFrame .butTextWrap::before,
  .butFrame .butTextWrap::after {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
  }
  .butFrame .butTextWrap::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
  }
  .butFrame .butTextWrap::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    box-sizing: border-box;
  }
  
  .butFrame p {
    padding: 10px 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  
  /* HOVER STYLES */
  
  .butFrame:hover:before{
    opacity:.6;
  }
  
  .butFrame:hover .butTextWrap::before,
  .butFrame:hover .butTextWrap::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  .butFrame:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }