// // BURDER-BUTTON
// .burger-menu-btn{
//   width: 3rem;
//   height: 2.5rem;
//   background-color: #838efb;
//   border-radius: 5px;
//   position: fixed;
//   top: 1.5rem;
//   right:2rem;
//   cursor: pointer;
//   transition: all 1s ease;
//   z-index: 9999;
//   display: none;
// }
// .burger-menu-lines,
// .burger-menu-lines::after,
// .burger-menu-lines::before{
// 	position: absolute;
// 	width: 2rem;
// 	height: 5px;
// 	background-color: #fff;
// }
// .burger-menu-lines{
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%,-50%);
// 	transition: all .5s ease;
// }
// .burger-menu-lines::after{
// 	content: '';
// 	top: -12px;
// 	transition: all .5s ease;
// }
// .burger-menu-lines::before{
// 	content: '';
// 	top: 12px;
// 	transition: all .5s ease;
// }

// .burger-menu-lines-active .burger-menu-lines{
// 	background-color: transparent;
// }

// .burger-menu-lines-active .burger-menu-lines::before{
// 	top: 0;
// 	transform: rotate(-45deg);
// }

// .burger-menu-lines-active .burger-menu-lines::after{
// 	top: 0;
// 	transform: rotate(45deg);
	
// }
// // BURDER-BUTTON-END