// CAROUSEL-MAIN

.main-carousel{
	.carousel-indicators{
		left:0;
		right:auto;
	}
	.carousel-control-next, .carousel-control-prev{
		top:40%;
		display: block;
		opacity:1;
		width: 20%;
	}
	.carousel-indicators{
		align-items: center;
	}
	.carousel-indicators li{
		width: 1.5rem;
		height:1.5rem;
		background-color: #c1cef6;
		border-radius: 50%;
	}
	.carousel-indicators .active{
		background-color: transparent;
		border:2px solid #c1cef6;
	}

	.prev{
		background-image: url(/images/left-arrow.png);
		width: 1rem;
		height:2rem;
	}
	.next{
		background-image: url(/images/right-arrow.png);
		width: 1rem;
		height:2rem;
	}
	.carousel-text {
		top: 15%;
		color: #000;
		width: 30rem;
		
		h1{
			font-weight:bold;
		}
		p{
			font-size: 25px;
			width: 22rem;
		}
	}
	.btn-red{
		background: $btnRed;
		color:#fff;
		width: 12rem;
		height:3rem;
	}
	.btn-red:hover{
		background:$btnHover;
	}
}

@media (max-width: 767px){
	.main-carousel{
		.carousel-inner{
			height:13rem;
		}
		.carousel-item{
			height: 100%;
			img{
				height: 100%;
				object-fit: cover;
				object-position: right;
			}
		}
		.carousel-text{
			width: auto;
			h1{
				font-size: small;		
			}
			p{
				font-size:small;		
			}
		}
		.carousel-indicators{
			display:none;
		}
	}
}
// CAROUSEL-MAIN-END


.owl-stage{
	display: flex;
	align-items: center;
}

.serteficate-page{
	overflow-x: hidden;
	.owl-nav{
		display: flex;
		justify-content: space-between;
		margin-top: -110px;
	}
	.owl-dots{
		display: none;
	}
	.owl-prev{
		margin-left: -30px;
	}
	.owl-next{
		margin-right: -30px;
	}
	.owl-prev, .owl-next{
		outline: none;
		height: 33px;
		width: 15px;
		position: relative;
		background: none;
		border: none;
		span{
			display: none;
		}
		&::before{
			content: '';
			height: 32px;
			width: 12px;
			top: 0;
			left: 0;
			position: absolute;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			background-image: url(/images/prev-ser.png);
		}
	}
	.owl-next{
		transform: rotate(180deg);
	}
}
.certificate-slider{
	.owl-item{
		opacity: 0;
		transition: all .4s;
		padding: 10px;
		.item{
			overflow: hidden;
			position: relative;
			transition: all .4s;
			cursor: pointer;
			&:hover{
				transform: scale(1.07);
				z-index: 20;
				.downl-button{
					bottom: 0px;
				}
			}
			.downl-button{
				position: absolute;
				bottom: -100%;
				transition: all .4s;
				text-align: center;
				width: 100%;
				padding: 7px 0;
				background: #002494;
				color: #fff;
				font-weight: bold;
				text-decoration: none;
			}
		}
	}
	.owl-item.active{
		opacity: 1;
	}
}

@media (max-width: 767px){
	.serteficate{
		.slider-serteficate{
			.item{
				display:flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
	// SERTEFICATE-SLIDER