.cascade-slider_container {
  position:relative;
  height:500px;
  margin:0 auto;
}
 
.cascade-slider_item {
  position:absolute;
  top:50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%) scale(0.3);
  transition:all 1s ease;
  opacity:0;
  z-index:-1;
}
 
.cascade-slider_item.next {
  left:50%;
  transform: translateY(-50%) translateX(-115%) scale(0.6);
  opacity:1;
  z-index:1;
}
 
.cascade-slider_item.prev {
  left:50%;
  transform: translateY(-50%) translateX(20%) scale(0.6);
  opacity:1;
  z-index:1;
}
 
.cascade-slider_item.now {
  top:50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%) scale(1);
  opacity:1;
  z-index:5;
}

.cascade-slider_arrow {
  background-color: rgba(125, 187, 209, .3);
  padding:1rem 1.5rem;
  display: inline-block;
  position:absolute;
  top:45%;
  cursor:pointer;
  z-index:5;
  border-radius: 50%;
  border:2px solid #737373;
}
.cascade-slider_arrow:hover{
  background-color: rgba(125, 187, 209, 1);
} 
.cascade-slider_arrow-left {left:10%; }
 
.cascade-slider_arrow-right {right:10%; }
 
.cascade-slider_nav {
  position:absolute;
  bottom:-120px;
  width:100%;
  text-align:center;
  z-index:5;
}
 
.cascade-slider_dot {
  display: inline-block;
  width:1em;
  height:1em;
  margin:1em;
  background:#ddd;
  list-style:none;
  cursor:pointer;
}
 
.cascade-slider_dot:hover {background:#555; }
 
.cascade-slider_dot.cur {background:#555; }
