footer {
  color: #fff;
  font-size: 14px;
  background: linear-gradient(90deg, #fff 35%, #002494 34%); }
  footer .footer-left-block {
    padding: 35px 90px 10px 0; }
    footer .footer-left-block img {
      margin-bottom: 1rem; }
    footer .footer-left-block p {
      color: #9d9da6; }
    footer .footer-left-block p:last-child {
      color: #5c5c6b;
      font-weight: bold; }
  footer form {
    height: 3rem !important;
    position: relative; }
    footer form input {
      height: 100% !important;
      width: 100% !important; }
    footer form img {
      position: absolute;
      right: 1rem; }
  footer .footer-right {
    padding: 33px 0 0 35px; }
    footer .footer-right h5 {
      font-weight: 700; }
    footer .footer-right a {
      color: #fff; }
    footer .footer-right .footer-right-1 {
      text-align: right; }
    footer .footer-right .footer-right-2 {
      padding-top: 2rem; }
    footer .footer-right .footer-right-social {
      padding-top: 2rem; }
  footer .btn-red {
    height: 4rem; }

.footer-end {
  padding-top: 1rem; }
  .footer-end .col-xl-6 {
    padding-left: 0; }
  .footer-end p {
    color: #a7aeb2;
    display: inline-block; }
    .footer-end p:last-child {
      margin-left: 1rem; }

@media (max-width: 767px) {
  footer {
    text-align: center;
    background: #002494 !important; }
    footer p {
      color: #fff !important; }
    footer .footer-left-block {
      padding: 30px 0 30px 0 !important; }
    footer .footer-right {
      padding: 30px 0 30px 0 !important; }
    footer .footer-right-1 {
      text-align: center !important; } }

@media (min-width: 768px) and (max-width: 1000px) {
  footer {
    text-align: center;
    background: #002494 !important; }
    footer .footer-left-block {
      padding: 1rem 0 0 0; }
      footer .footer-left-block p {
        color: #fff !important; } }

@media (min-width: 1024px) and (max-width: 1260px) {
  footer {
    text-align: center;
    background: #002494 !important; }
    footer .footer-left-block {
      padding: 1rem 0 0 0; }
      footer .footer-left-block p {
        color: #fff !important; } }

.body-overflow {
  overflow-y: hidden; }

.header {
  padding: 24px 0; }
  .header p {
    margin: 0;
    font-size: 14px;
    color: #5c5c6b;
    font-weight: 500;
    width: 80%; }
  .header img {
    margin-right: 10px; }
  .header i {
    font-size: 18px;
    margin-right: 10px; }
  .header a {
    font-weight: 500;
    color: #002494;
    font-size: 16px; }

.btn-red {
  width: 100%;
  height: 100%;
  background: linear-gradient(#e60505, #ba0101);
  color: #fff; }
  .btn-red:hover {
    background: linear-gradient(#ba0101, #e60505);
    color: #fff !important; }

.modal-back-call .modal-content {
  padding: .5rem 1.5rem; }
  .modal-back-call .modal-content .modal-body input {
    width: 100%;
    border-radius: 30px;
    border: none;
    background-color: #f3f3f3;
    outline: none;
    padding: 15px 0 15px 22px;
    margin-top: 1rem; }
  .modal-back-call .modal-content .modal-footer {
    justify-content: flex-start; }

@media (max-width: 767px) {
  h1 {
    font-size: x-large; } }

@media (max-width: 767px) {
  .header .logo {
    text-align: center; }
  .header p {
    display: none; }
  .header i {
    display: none; }
  .header a {
    display: none; }
  .header h6 {
    display: none; }
  .header .btn-red {
    display: none; } }

.main-carousel .carousel-indicators {
  left: 0;
  right: auto; }

.main-carousel .carousel-control-next, .main-carousel .carousel-control-prev {
  top: 40%;
  display: block;
  opacity: 1;
  width: 20%; }

.main-carousel .carousel-indicators {
  align-items: center; }

.main-carousel .carousel-indicators li {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #c1cef6;
  border-radius: 50%; }

.main-carousel .carousel-indicators .active {
  background-color: transparent;
  border: 2px solid #c1cef6; }

.main-carousel .prev {
  background-image: url(/images/left-arrow.png);
  width: 1rem;
  height: 2rem; }

.main-carousel .next {
  background-image: url(/images/right-arrow.png);
  width: 1rem;
  height: 2rem; }

.main-carousel .carousel-text {
  top: 15%;
  color: #000;
  width: 30rem; }
  .main-carousel .carousel-text h1 {
    font-weight: bold; }
  .main-carousel .carousel-text p {
    font-size: 25px;
    width: 22rem; }

.main-carousel .btn-red {
  background: linear-gradient(#e60505, #ba0101);
  color: #fff;
  width: 12rem;
  height: 3rem; }

.main-carousel .btn-red:hover {
  background: linear-gradient(#ba0101, #e60505); }

@media (max-width: 767px) {
  .main-carousel .carousel-inner {
    height: 13rem; }
  .main-carousel .carousel-item {
    height: 100%; }
    .main-carousel .carousel-item img {
      height: 100%;
      object-fit: cover;
      object-position: right; }
  .main-carousel .carousel-text {
    width: auto; }
    .main-carousel .carousel-text h1 {
      font-size: small; }
    .main-carousel .carousel-text p {
      font-size: small; }
  .main-carousel .carousel-indicators {
    display: none; } }

.information-block {
  padding: 2.5rem 0;
  font-size: 13px; }
  .information-block img {
    width: auto; }
  .information-block i {
    margin-left: 1rem;
    color: red;
    font-size: 14px; }

@media (max-width: 767px) {
  .information-block {
    text-align: center; }
    .information-block img {
      margin-top: 1rem;
      margin-bottom: 1rem; } }

.company {
  position: relative;
  background-image: url(/images/company-bg.png);
  padding-top: 60px;
  padding-bottom: 130px;
  background-repeat: no-repeat;
  background-size: cover; }
  .company .bg-item {
    position: absolute;
    bottom: 5%;
    left: 31%;
    z-index: 9; }
  .company .company-block {
    background-color: #fff;
    padding: 30px 50px 30px 30px; }
  .company button {
    font-weight: 600;
    width: 12rem;
    height: 3rem; }
  .company h1 {
    font-weight: bold; }
  .company li {
    position: absolute;
    color: red; }
    .company li p {
      color: #000;
      font-weight: 600; }
    .company li:nth-child(1) {
      top: 40%;
      left: 45%; }
    .company li:nth-child(2) {
      top: 55%;
      left: 50%; }
    .company li:nth-child(3) {
      top: 70%;
      left: 55%; }

@media (max-width: 767px) {
  .company .bg-item {
    display: none; }
  .company li {
    position: static; }
    .company li p {
      position: static; } }

.serteficate {
  background-image: url(/images/diplom-bg.png);
  background-position-y: bottom;
  padding: 50px 0 63px 0;
  background-repeat: no-repeat;
  background-size: cover; }
  .serteficate h1 {
    font-weight: bold; }
  .serteficate .next {
    position: absolute;
    top: 50%;
    right: 0; }
  .serteficate .prev {
    position: absolute;
    top: 50%;
    left: 0; }
  .serteficate .owl-carousel .owl-item img {
    width: auto;
    margin: 1rem 0 0 1rem; }
  .serteficate .slider-serteficate .owl-carousel .owl-stage {
    display: flex;
    align-items: center; }

@media (max-width: 767px) {
  .serteficate .slider-serteficate .item {
    display: flex;
    justify-content: center;
    align-items: center; } }

.request {
  padding: 25px 0;
  background-color: #002494; }
  .request form {
    width: 100%;
    height: 100%; }
  .request input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 1rem; }
  .request h4 {
    color: #fFF; }

@media (max-width: 767px) {
  .request form {
    height: 3rem;
    margin-bottom: 1rem; } }

.galery {
  padding-top: 42px; }
  .galery h1 {
    text-align: center;
    padding-bottom: 4rem;
    font-weight: 600; }
  .galery .card {
    margin-bottom: 2rem;
    box-shadow: 0px 33px 35px 0px rgba(184, 184, 197, 0.26);
    border: none; }
    .galery .card h5 {
      font-weight: bold; }
    .galery .card .card-body {
      padding: 1rem 1rem 2.3rem 1rem;
      font-size: 14px;
      font-weight: 500; }

@media (max-width: 767px) {
  .galery h1 {
    font-size: x-large;
    padding-bottom: 0; } }

.advantages {
  padding-top: 2rem;
  padding-bottom: 3rem; }
  .advantages h1 {
    text-align: center;
    padding-bottom: 4rem;
    font-weight: bold; }
  .advantages .card-main {
    display: flex;
    justify-content: space-between;
    text-align: center; }
    .advantages .card-main img {
      width: auto; }
    .advantages .card-main p {
      color: #515151;
      font-size: 14px;
      font-weight: 500; }

@media (max-width: 767px) {
  .advantages .card-main {
    display: block;
    text-align: center; }
  .advantages h1 {
    font-size: x-large; } }

.production h1 {
  text-align: center;
  font-weight: bold; }

.production .production-img {
  margin-top: 2.5rem; }

@media (max-width: 767px) {
  .production h1 {
    font-size: x-large; }
  .production-img img {
    margin-bottom: 1rem;
    width: 100%; } }

.question {
  padding-top: 13rem;
  background-image: url(/images/question-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; }
  .question h1 {
    font-weight: bold; }
  .question span {
    color: #002494; }
  .question .col-xl-5 {
    padding-left: 0; }
  .question .question-content {
    background-color: #fff;
    padding: 30px 40px 40px 40px; }
    .question .question-content label {
      font-weight: 600;
      padding-left: 1rem; }
    .question .question-content input {
      display: block;
      width: 100%;
      height: 4rem;
      background-color: #f3f6fb;
      border-radius: 5px;
      border: none;
      padding-left: 1rem;
      box-shadow: inset 0px 4px 7.44px 0.56px rgba(193, 211, 242, 0.17); }
    .question .question-content .btn-red {
      width: 60%;
      height: 68px;
      margin-top: 2rem; }
      .question .question-content .btn-red:hover {
        box-shadow: 0px 5px 51.68px 16.32px rgba(213, 3, 3, 0.18); }

@media (max-width: 767px) {
  .question {
    margin-top: 1rem; }
    .question h1 {
      font-size: x-large !important; }
    .question .btn-red {
      width: 100% !important; } }

.map-contacts {
  position: relative; }
  .map-contacts .map-content {
    width: 18rem;
    padding: 1.5rem;
    top: 4rem;
    position: absolute;
    background-color: #fff; }
  .map-contacts .map {
    width: 100%; }
  .map-contacts a {
    color: #002494;
    font-weight: bold; }
  .map-contacts .btn-red {
    margin-top: 3rem;
    height: 3rem; }

@media (max-width: 767px) {
  .map-contacts .map-content {
    display: block;
    position: static;
    width: 100%; } }

.trust-us {
  padding-top: 6rem; }
  .trust-us h1 {
    font-weight: bold;
    text-align: center; }
  .trust-us img {
    margin-top: 4.5rem; }
  .trust-us .right-img {
    text-align: right; }
  .trust-us img:first-child {
    margin-right: 2rem; }

@media (max-width: 767px) {
  .trust-us {
    text-align: center; }
    .trust-us h1 {
      font-size: x-large; }
  .right-img {
    text-align: center !important; } }

.company-main {
  padding-top: 90px; }
  .company-main h1 {
    font-weight: bold; }
  .company-main h5 {
    font-weight: bold; }
  .company-main p {
    color: #515151;
    font-size: 14px;
    font-weight: 500; }

@media (max-width: 767px) {
  .company-main h1 {
    font-size: x-large;
    text-align: center; } }

@media (min-width: 768px) and (max-width: 1000px) {
  .header .logo {
    text-align: center; }
  .header p {
    display: none; }
  .header i {
    display: none; }
  .header a {
    display: none; }
  .header h6 {
    display: none; }
  .header .btn-red {
    display: none; }
  .burger {
    display: block !important; }
  .nav-panel-mobil form input {
    width: 100% !important; }
  .nav-panel-mobil i {
    margin-right: 1rem; }
  .nav-panel-mobil img {
    margin-right: 1rem; }
  .advantages .card-main {
    display: block; }
  .main-carousel .carousel-text h1 {
    font-size: larger !important; }
  .main-carousel .carousel-indicators {
    display: none; }
  .serteficate {
    background-position-x: center; }
  .company .bg-item {
    display: none; }
  .company ul {
    margin-left: 1rem; }
    .company ul li {
      position: static; }
  .trust-us {
    text-align: center; }
    .trust-us .right-img {
      text-align: center !important; }
  .burder {
    display: block !important; }
  .request form {
    height: 3rem; }
    .request form input {
      height: 2.5rem; } }

@media (min-width: 1024px) and (max-width: 1300px) {
  .header h6 {
    font-size: .7rem; }
  .nav-panel .navbar li {
    padding: 1rem 0 !important; }
  .main-carousel .carousel-text h1 {
    font-size: larger; }
  .company {
    background-position-x: center; }
    .company .bg-item {
      display: none; }
    .company ul {
      margin-left: 1rem; }
      .company ul li {
        position: static; }
  .production-img img {
    width: 100%; }
  .request form {
    height: 3rem; }
    .request form input {
      height: 2.5rem; } }

.nav-panel {
  background-color: #002494; }
  .nav-panel .container {
    padding-left: 0; }
  .nav-panel .navbar {
    padding: 0; }
    .nav-panel .navbar li {
      padding: 18px 1.4rem; }
    .nav-panel .navbar li:hover {
      background-color: #001a6b; }
    .nav-panel .navbar a {
      color: #fff !important;
      font-size: 18px;
      font-weight: 600; }
    .nav-panel .navbar form {
      position: relative; }
      .nav-panel .navbar form img {
        position: absolute;
        right: 1rem; }
      .nav-panel .navbar form input {
        width: 16rem;
        margin-right: 0 !important; }

.burger-menu-btn {
  width: 3rem;
  height: 2.5rem;
  background-color: #838efb;
  border-radius: 5px;
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
  transition: all 1s ease;
  z-index: 9999;
  display: none; }

.burger-menu-lines,
.burger-menu-lines::after,
.burger-menu-lines::before {
  position: absolute;
  width: 2rem;
  height: 5px;
  background-color: #fff; }

.burger-menu-lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s ease; }

.burger-menu-lines::after {
  content: '';
  top: -12px;
  transition: all .5s ease; }

.burger-menu-lines::before {
  content: '';
  top: 12px;
  transition: all .5s ease; }

.burger-menu-lines-active .burger-menu-lines {
  background-color: transparent; }

.burger-menu-lines-active .burger-menu-lines::before {
  top: 0;
  transform: rotate(-45deg); }

.burger-menu-lines-active .burger-menu-lines::after {
  top: 0;
  transform: rotate(45deg); }

.nav-panel-mobil {
  position: fixed;
  background-color: #fff;
  height: 100vh;
  z-index: 99;
  transition: .5s;
  width: 100%;
  text-align: center;
  transform: translateX(-100%);
  font-size: 20px;
  font-weight: bold;
  padding-top: 1rem;
  top: 0;
  display: flex;
  align-items: center; }
  .nav-panel-mobil form {
    height: 4rem;
    position: relative; }
    .nav-panel-mobil form img {
      position: absolute;
      right: 1rem; }
    .nav-panel-mobil form input {
      height: 4rem;
      width: 100%;
      margin-right: 0 !important; }
  .nav-panel-mobil .btn-red {
    height: 4rem; }

@media (max-width: 767px) {
  .nav-panel {
    display: none; }
  .burger-menu-btn {
    display: block; }
  .nav-panel-mobil i {
    margin-right: 1rem; }
  .nav-panel-mobil img {
    margin-right: 1rem; }
  .nav-panel-mobil-active {
    transform: translateX(0); } }

/*CATALOG*/
.pages-link {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-weight: 600; }
  .pages-link ul {
    padding-left: .8rem; }
    .pages-link ul li {
      padding: 0 .2rem;
      display: inline-block; }
      .pages-link ul li:last-child a {
        color: #70707e; }

.galery-main {
  width: 100%;
  height: 550px; }

.galery-main img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 33px 100px 0px rgba(184, 184, 197, 0.26); }

.galery-content {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between; }
  .galery-content .item-galery {
    box-shadow: 0px 33px 100px 0px rgba(184, 184, 197, 0.26); }
  .galery-content img {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%; }

.catalog {
  padding-bottom: 13rem; }
  .catalog .catalog-content {
    font-weight: 600; }
    .catalog .catalog-content table {
      width: 100%; }
      .catalog .catalog-content table tbody {
        background-color: #f3f6fb; }
        .catalog .catalog-content table tbody tr td:first-child {
          padding: 20px 0px 0 30px; }
        .catalog .catalog-content table tbody tr td:last-child {
          padding: 20px 30px 0 0;
          text-align: right; }
        .catalog .catalog-content table tbody tr .last-td {
          padding-bottom: 20px !important; }
    .catalog .catalog-content p {
      display: inline-block; }
    .catalog .catalog-content .total {
      padding: 20px 0 20px 30px;
      background-color: #e2ecfc; }
      .catalog .catalog-content .total p {
        margin: 0; }
    .catalog .catalog-content .coins-color {
      font-weight: bold;
      color: #002494; }
  .catalog .color-content {
    padding-top: 22px;
    color: #5e5e6d;
    font-size: 15px;
    font-weight: 600; }
  .catalog .download {
    height: 11rem;
    padding-top: 1.5rem;
    color: #5e5e6d;
    font-size: 15px;
    font-weight: 600; }
    .catalog .download .col-xl-6 {
      padding-right: 0; }
      .catalog .download .col-xl-6 a {
        color: #9d9da6; }
    .catalog .download .download-content {
      padding: 1rem 1rem;
      border: 1px solid #eaedf2;
      display: flex;
      align-items: end;
      justify-content: space-evenly; }
      .catalog .download .download-content p {
        display: inline-block;
        margin: 0 0 0 1rem; }
  .catalog .download-content-end {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    background-color: #f3f6ff;
    color: #000; }
    .catalog .download-content-end p {
      margin: 0 0 0 3rem; }
  .catalog .product-text {
    margin-top: 6rem; }
    .catalog .product-text p {
      color: #252539; }
  .catalog .activ-slide {
    border: 2px solid #a7dce6; }

@media (max-width: 767px) {
  .catalog {
    padding-bottom: 0; }
    .catalog .product-text {
      margin-top: 9rem; }
    .catalog .galery-main {
      height: 350px; }
    .catalog .download .col-xl-6 {
      padding-right: 15px; }
    .catalog .download .download-content {
      justify-content: space-between; }
    .catalog .download-content-end {
      justify-content: space-between; } }

@media (min-width: 768px) and (max-width: 960px) {
  .catalog {
    padding-bottom: 0; }
    .catalog .product-text {
      margin-top: 2rem; }
    .catalog .download .col-xl-6 {
      padding-right: 15px; }
    .catalog .download .download-content {
      justify-content: space-between; } }

/*CATELOG-END*/
.product-card {
  padding-bottom: 12rem; }
  .product-card .card-body {
    padding: 0 0 0 3.7rem;
    width: 95%; }
    .product-card .card-body ul {
      font-size: 14px;
      font-weight: 500;
      color: #252539;
      padding: 1rem 0 0 0; }
      .product-card .card-body ul li {
        list-style-type: none; }
    .product-card .card-body .btn-red {
      margin-top: 1.5rem;
      height: 3.5rem;
      width: 96%; }
  .product-card .card-text {
    padding-top: 1rem; }
  .product-card .card {
    border: none;
    box-shadow: 0px 8px 24px 0px rgba(184, 184, 197, 0.33);
    padding: 2.5rem 2.5rem 1.4rem 2.5rem; }
  .product-card .color-content-product .card-text small {
    color: #9d9da6 !important; }
  .product-card .color-content-product img {
    width: 2.1rem; }

@media (max-width: 767px) {
  .product-card {
    padding-bottom: 5rem;
    text-align: center; }
    .product-card img {
      width: auto;
      margin-bottom: 1rem; }
    .product-card .card-body {
      padding: 0;
      width: 100%; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .product-card {
    padding-bottom: 5rem;
    text-align: center; }
    .product-card img {
      width: auto;
      margin-bottom: 1rem;
      max-height: 17rem; }
    .product-card .card-body {
      padding: 0;
      width: 100%; } }

.about-company .company-card {
  box-shadow: 0px 33px 100px 0px rgba(184, 184, 197, 0.26);
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem 1rem 1.2rem;
  min-height: 5rem;
  max-height: 5.1rem;
  background-color: #fff;
  margin: 2.5rem 0; }
  .about-company .company-card img {
    margin-right: 11px;
    width: auto; }
  .about-company .company-card small {
    font-weight: 600;
    font-size: 14px;
    color: #c7cbce; }

.about-company h3 {
  padding-bottom: .6rem; }

.about-company p {
  font-size: 15px; }

.about-company .company-text {
  padding-bottom: 2rem; }

.about-company .company-right-text {
  padding-top: 2rem;
  padding-left: 1.5rem; }

.about-company .about-list {
  padding-top: 3rem; }
  .about-company .about-list ul {
    padding-left: 0; }
    .about-company .about-list ul li {
      padding-bottom: 1rem;
      list-style-type: none; }
      .about-company .about-list ul li img {
        margin-right: .7rem; }

@media (max-width: 767px) {
  .about-company-text .company-right-text {
    padding-left: 0; }
  .about-company-text .company-left-img img {
    width: 100%; }
  .question {
    padding-top: 3rem; } }

@media (min-width: 768px) and (max-width: 1000px) {
  .about-company-text .company-right-text {
    padding-left: 0; }
  .about-company-text .company-left-img img {
    width: 100%; } }

@media (min-width: 1024px) and (max-width: 1300px) {
  .about-company-text .company-right-text {
    padding-left: 0; }
  .about-company-text .company-left-img img {
    width: 100%; } }

head {
  display: none; }
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close{
  cursor: pointer !important;
}
.dg-widget-link iframe{
  width: 100%;
}