.about-company{
	.company-card{
		box-shadow: 0px 33px 100px 20px rgba(184, 184, 197, 0.26);
		display: flex;
		align-items: center;
		padding: 1.5rem 2rem 1rem 1.2rem;
		min-height: 5rem;
		max-height: 5.1rem;
		background-color:#fff;
		margin: 2.5rem 0;
		img{
			margin-right: 11px;
			width: auto;
		}
		small{
			font-weight: 600;
			font-size: 14px;
			color: #c7cbce;
		}
	}
	h3{
		padding-bottom: .6rem;
	}
	p{
		font-size: 15px;
	}
	// .company-text{
	// 	padding-bottom: 2rem;
	// }
	.company-right-text{
		// padding-top: 2rem;
		padding-left: 1.5rem;
	}
	.about-list{
		// padding-top: 3rem;
		ul{
			padding-left: 0;
			li{
				padding-bottom: 1rem;
				list-style-type: none;
				img{
					margin-right: .7rem;
				}
			}
		}
	}
}
@media (max-width: 767px){
	.about-company{
		.company-card{
			margin: .5rem 0;
		}
		.about-company-text{
			
			.company-right-text{
				padding-left: 0;
			}
			.company-left-img{
				img{
					width:100%;
				}
			}
		}
	}

	.question{
		padding-top: 3rem;
	}
}
@media (min-width: 768px) and (max-width: 1000px){
	.about-company-text{
		.company-right-text{
			padding-left: 0;
		}
		.company-left-img{
			img{
				width:100%;
			}
		}
	}
}
@media (min-width: 1024px) and (max-width: 1300px){
	.about-company-text{
		.company-right-text{
			padding-left: 0;
		}
		.company-left-img{
			img{
				width:100%;
			}
		}
	}
}