/*CATALOG*/
.pages-link{
	padding-top: 2rem;
	padding-bottom: 1rem;
	font-weight: 600;
	ul{
		padding-left: .8rem;
		li{
			padding: 0 .2rem;
			display: inline-block;
			&:last-child a{
				color: #70707e;
			}
		}
	}
	
}


.catalog{
	.galery-main{
		text-align: center;
		width: 100%;
		height: 350px;
		box-shadow: 0px 33px 100px 0px rgba(184, 184, 197, 0.26);
		background-color: #fff;
	}
	.galery-main{
		img{
			// width: 100%;
			height: 100%;
			max-width: 100%;
		}
	}
	.galery-content{
		margin-top: 1.5rem;
		display: flex;
		justify-content: space-between;
		.item-galery{
			box-shadow: 0px 33px 100px 0px rgba(184, 184, 197, 0.26);
			img{
				margin: 0 !important;
			}
		}
		img{
			cursor: pointer;
			display: inline-block;
			width: 100%;
			height: 100%;
		}
	}
	padding-bottom: 13rem;
	.catalog-content{
		font-weight: 600;
		table{
			width: 100%;
			tbody{
				background-color: #f3f6fb;
				tr{
					td{
						&:first-child{
							padding: 20px 0px 0 30px;
						}
						&:last-child{
							padding:20px 30px 0 0;
							text-align: right;
						}
					}
					.last-td{
						padding-bottom: 20px !important;
					}
				}
			}
		}
		p{
			display: inline-block;
		}
		.total{
			padding: 20px 0 20px 30px;
			background-color: #e2ecfc;
			p{
				margin:0;
			}
		}
		.coins-color{
			font-weight: bold;
			color: #002494;
		}
	}
	.color-content{
		padding-top: 22px;
		color: #5e5e6d;
		font-size: 15px;
		font-weight: 600;
		.color{
			img{
				cursor: pointer;
				width: 40px;
			}
		}
	}
	.download{
		height: 11rem;
		padding-top: 1.5rem;
		color: #5e5e6d;
		font-size: 15px;
		font-weight: 600;
		.col-xl-6{
			padding-right: 0;
			a{
				color: #9d9da6;
			}

		}
		.download-content{
			padding: 1rem 1rem;
			border: 1px solid #eaedf2;
			display: flex;
			align-items: end;
			justify-content: space-evenly;
			p{
				display: inline-block;
				margin: 0;
			}
		}
	}
	.download-content-end{
		padding: 1rem 1rem;
		display: flex;
		align-items: center;
		background-color: #f3f6ff;
		color:#000;
		p{
			margin: 0 0 0 3rem;
		}

	}
	.product-text{
		margin-top: 6rem;
		p{
			color: #252539;
		}
	}
	.activ-slide{
		border: 2px solid #a7dce6;
	}
	.activ-slide-color{
		border-radius: 50%;
		border: 2px solid red;
	}

}
@media (max-width: 767px){
	.pages-link{
		padding-left: 0;
	}

	.catalog{
		padding-bottom: 0;
		.product-text{
			margin-top: 9rem;
		}
		.galery-main{
			height: 350px;
		}
		.download{
			.col-xl-6{
				padding-right: 15px;
			}
			.download-content{
				justify-content: space-between;
			} 
		}
		.download-content-end{
			justify-content: space-between;
		}
	}
}
@media (min-width: 768px) and (max-width: 960px){
	.catalog{
		padding-bottom: 0;
		.product-text{
			margin-top: 2rem;
		}
		.download{
			.col-xl-6{
				padding-right: 15px;
			}
			.download-content{
				justify-content: space-between;
			}
			.download-content-end{
				justify-content: space-between;
			} 
		}
	}
}
@media (min-width: 1024px) and (max-width: 1300px){

}
/*CATELOG-END*/