
// FOOTER

footer{
		color:#fff;
	font-size: 14px;
	background:linear-gradient(90deg, #fff 35%, #002494 34%);
	.footer-left-block{
		padding: 35px 90px 10px 0;
		img{
			margin-bottom: 1rem;
			width: 100%;
		}
		p{
			color:#a1a1a8;
		}
		p:last-child{
			color:#5c5c6b;
			font-weight:bold;
		}
	}
	form{
		input{
			width: 100% !important;
		}
		img {
			position: absolute;
			right: 2rem;
			cursor: pointer;
		}
	} 
	.footer-right{
		padding: 33px 0 0 35px;
		h5{
			font-weight: 700;
		}
		a{
			color:#fff;
		}
		.footer-right-1{
			text-align: right;
		}
		.footer-right-2{
			padding-top:2rem;
		}
		.footer-right-social{
			padding-top: 2rem;
			text-align: right;
			padding-right: 0;
		}
		.col-xl-3{
			padding-right: 0;
		}
	}
	.btn-red{
		height:4rem;
	}
}

.footer-end{
	height: 1.5rem;
	padding-top:1rem;
	.col-xl-6{
		padding-left:0;
	}
	p{
		color:#a7aeb2;
		display: inline-block;
		&:last-child{
		margin-left:1rem;
	}
	}
}
@media (max-width: 767px){
	footer{
		text-align: center;
		background: #002494 !important;
		p{
			color:#fff !important;
		}
		.footer-left-block{
			padding:30px 0 30px 0 !important;
		}
		.footer-right{
			padding: 30px 0 30px 0 !important;
		}
		.footer-right-1{
			text-align: center !important;	
		}
		.footer-right-social{
			padding-right: 15px !important;
		}
		.col-xl-3{
			padding-right: 15px !important;
		}
	}
}
@media (min-width: 768px) and (max-width: 1000px){
	footer{
		text-align:center;
		background: #002494 !important;
		.footer-left-block{
			padding: 1rem 0 0 0;
			p{
				color:#fff !important;
			}
		}
		.footer-right-social{
			padding-right: 15px !important;
		}
		.col-xl-3{
			padding-right: 15px !important;
		}
	}
}

@media (min-width: 1024px) and (max-width: 1260px){
	footer{
		text-align:center;
		background: #002494 !important;
		.footer-left-block{
			padding: 1rem 0 0 0;
			p{
				color:#fff !important;
			}
		}
		.footer-right-social{
			padding-right: 15px !important;
		}
		.col-xl-3{
			padding-right: 15px !important;
		}
	}
}
// FOOTER-END 