// Переменные-Header
$btnRed:#E31E24;
$btnHover:rgb(189, 24, 29);
$bgNav:rgba(0, 36, 148, 1);

// Переменные-header

// HEDER


.body-overflow{
	overflow-y: hidden;
}


.header{
	padding: 24px 0;
	.logo{
		img{
			width: 100%;
		}
	}
	.header-contacts{
		img{
			height: 15px;
			margin-top: -5px;
			margin-right: 5px;
		}
	}
	p{
		margin: 0;
		font-size: 14px;
		color: #5c5c6b;
		font-weight: 500;
	}
	img{
		margin-right: 10px;
	}
	h6{
		font-size: 1rem;
	}
	a{
		font-weight: 500;
		color: #002494;
		font-size: 16px;
		text-decoration: none;
		transition: all .4s;
		&:hover{
			text-shadow: 0 0 5px #00259425;
		}
	}
}

.btn-red{
	width: 100%;
	height: 100%;
	background: $btnRed;
	color: #fff;
	transition: all .4s;
	&:hover{
		background:$btnHover;
		color:#fff !important;
	}
}
.modal-back-call{
	.modal-content{
		padding:.5rem 1.5rem;
		.modal-body{
			input{
				width: 100%;
				border-radius: 30px;
				border: none;
				background-color: #f3f3f3;
				outline: none;
				padding: 15px 0 15px 22px;
				margin-top: 1rem;
			}
		}
		.modal-footer{
			justify-content: flex-start;
		}
	}
}
@media (max-width: 767px){
	h1{
		font-size: x-large;
	}
}
@media (max-width: 767px){
	.header{
		.logo{
			text-align: center;
			img{
				width: 50%;
			}
		}
		p{
			display: none;
		}
		i{
			display: none;
		}
		.text-right{
			a{
				display: none;
			}
		}
		h6{
			display: none;
		}
		.btn-red{
			display: none;
		}
	}
}


.form-control{
	height: 45px;
}

// HEDER-END

// CAROUSEL-MAIN

.main-carousel{
	.carousel-indicators{
		left:0;
		right:auto;
	}
	.carousel-control-next, .carousel-control-prev{
		top:40%;
		display: block;
		opacity:1;
		width: 20%;
	}
	.carousel-indicators{
		align-items: center;
	}
	.carousel-indicators li{
		width: 1.5rem;
		height:1.5rem;
		background-color: #c1cef6;
		border-radius: 50%;
	}
	.carousel-indicators .active{
		background-color: transparent;
		border:2px solid #c1cef6;
	}
	.carousel-item{
		img{
			filter: contrast(0.7);
		}
	}
	.prev-main{
		background-image: url(/images/left-arrow.png);
		width: 1rem;
		height:2rem;
	}
	.next-main{
		background-image: url(/images/right-arrow.png);
		width: 1rem;
		height:2rem;
	}
	.carousel-text{
		top: 15%;
		color: #fff !important;
		width: 30rem;
		
		h1{
			font-weight:bold;
		}
		p{
			font-size: 25px;
			width: 23rem !important;
		}
	}
	.btn-red{
		background:$btnRed;
		color:#fff;
		width: 12rem;
		height:3rem;
	}
	.btn-red:hover{
		background:$btnHover;
	}
}

@media (max-width: 767px){
	.main-carousel{
		img{
			height:12rem;
		}
		.carousel-text{
			
			h1{
				font-size: small;		
			}
			p{
				font-size:small;
				width: auto !important;	
			}
		}
		.carousel-indicators{
			display:none;
		}
	}
}
// CAROUSEL-MAIN-END

// INFORMATION=BLOCK
.information-block{
	padding:2.5rem 0;
	font-size: 13px;
	img{
		width: auto;
	}
	i{
		margin-left:1rem;
		color:red;
		font-size: 14px;
	}
}

@media (max-width: 767px){
	.information-block{
		text-align: center;
		img{
			margin-top:1rem;
			margin-bottom:1rem;
		}
	}
}

// INFORMATION=BLOCK-END


// COMPANY
.company{
	position: relative;
	background-image:url(/images/company-bg.png);
	padding-top: 60px;
	padding-bottom: 130px;
	background-size: cover;

	.bg-item{
		position: absolute;
		bottom: -50%;
		right: -43%;
		z-index: 9;
	}
	.company-block{
		background-color: #fff;
		padding: 30px 50px 30px 30px;
	}
	button{
		font-weight:600;
		width: 12rem;
		height:3rem;
	}
	h1{
		font-weight:bold;
	}
	li{
		position: absolute;
		color:red;
		p{
			color:#000;
			font-weight:600;
		}
		&:nth-child(1){
			top:40%;
			left:45%;
		}
		&:nth-child(2){
			top:55%;
			left:50%;
		}
		&:nth-child(3){
			top:70%;
			left:55%;
		}

	}
}

@media (max-width: 767px){
	.company {
		.bg-item{
			display: none;
		}
		li{
			position: static;
			p{
				position: static;
			}
		}
	}	
}

// COMPANY-END

// SERTEFICATE
.serteficate{ 
	padding:50px 0 63px 0;
	h6{
		font-weight: bold;
	}
	h1{
		font-weight:bold;
	}
	.blue-text{
		color:#002494; 
	}
	.next-serteficate{
		position: absolute;
		top:50%;
		right:0;
		z-index: 999;
		cursor: pointer;
	}
	.prev-serteficate{
		position: absolute;
		top:50%;
		left:0;
		z-index: 999;
		cursor: pointer;
	}
	.slider-serteficate{
		position: relative;
		.owl-carousel{
			.owl-item{
				img{
					margin:1rem;
					width: 80%;
				}
			}
		}
		.slider-serteficate .owl-carousel .owl-stage{
			display: flex;
			align-items: center;
		}
	}
	.cascade-slider_container{
		.cascade-slider_item{
			img{
				width: 100%;
			}
		}
	}
}

// SERTEFICATE-PAGE
.serteficate-page{
	padding: 1rem 0 5rem;
	.cascade-slider_slides{
		.cascade-slider_item{
			img{
				width: 100%;
			}
		}

	}
}

@media (max-width: 767px){
	.serteficate{
		.slider-serteficate{
			.item{
				display:flex;
				justify-content: center;
				align-items: center;
			}
			.owl-carousel{
				.owl-item{
					img{
						margin:1rem;
						width: 50%;
					}
				}
			}
		}
	}
}
// SERTEFICATE-END

//REQUEST
.request{
	padding:25px 0;
	background-color:$bgNav;
	form{
		width: 100%;
		height:100%;
	}
	input{
		width: 100%;
		height:100%;
		border-radius:5px;
		border:none;
		outline: none;
		padding-left:1rem;
	}
	h4{
		color:#fFF;
	} 
}

@media (max-width: 767px){
	.request{
		form{
			height:3rem;
			margin-bottom:1rem;
		}
	}
}

//REQUEST-END

// GALERY
.galery{
	padding-top:42px;

	h1{
		text-align:center;
		padding-bottom:4rem;
		font-weight:600;
	}
	.card{
		.img-cont{
			max-height: 400px;
			height: 100%;
			overflow: hidden;
			img{
				height: 100%;
				// object-fit: cover;
				object-position: center;
				min-height: 245px;
				max-height: 245.1px;
			}
		}
		margin-bottom: 2rem;
		box-shadow: 0px 33px 35px 0px rgba(184, 184, 197, 0.26);
		border:none;
		h5{
			font-weight:bold;
		}
		.card-body{
			padding:1rem 1rem 2.3rem 1rem;
			font-size: 14px;
			font-weight:500;
			min-height: 9rem;
			max-height: 9rem;
		}
	}
}
.galery-img{
	width: 100%;
	min-height: 250px;
	max-height: 250.1px;
}
@media (max-width: 767px){
	.galery{
		h1{
			font-size:x-large;
			padding-bottom:0;
		}
	}
}
// GALERY-END


// ADVANTAGES

.advantages{
	padding-top:2rem;
	padding-bottom: 3rem;

	h1{
		text-align:center;
		padding-bottom:4rem;
		font-weight:bold;
	}
	.card-main{
		display: flex;
		justify-content: space-between;
		text-align: center;
		img{
			width: auto;
		}
		p{
			width: 12rem;
			color:#515151;
			font-size: 14px;
			font-weight:500;
		}
	}
}
@media(max-width: 767px){
	.advantages{
		.card-main{
			display: block;
			text-align:center;
			p{
				width: auto;
			}
		}
		h1{
			font-size: x-large;
		}
	}
}

// ADVANTAGES-END

// PRODUCTION-IMG
.production{
	h1{
		text-align: center;
		font-weight:bold;
	}
	.production-img{
		margin-top: 2.5rem;
	}
}
@media (max-width: 767px){
	.production{
		h1{
			font-size: x-large;
		}
	}
	.production-img{
		img{
			margin-bottom:1rem;
			width: 100%;
		}

	}
}


// PRODUCTION-IMG-END

// QUESTION

.question{
	margin-top: 3rem;
	padding-top:13rem;
	background-image: url(/images/question-bg.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	h1{
		font-weight:bold;
	}
	span{
		color:#002494;
	}
	.col-xl-5{
		padding-left:0;
	}
	.question-content{
		background-color: #fff;
		padding: 30px 40px 40px 40px;
		label{
			font-weight:600;
			padding-left:1rem;
		}
		input{
			display: block;
			width: 100%;
			height:4rem;
			background-color: #f3f6fb;
			border-radius:5px;
			border:none;
			padding-left:1rem;
			box-shadow: inset 0px 4px 7.44px 0.56px rgba(193, 211, 242, 0.17);
		}
		.btn-red{
			width: 60%;
			height:68px;
			margin-top:2rem;
			&:hover{
				box-shadow: 0px 5px 51.68px 16.32px rgba(213, 3, 3, 0.18);
			}
		}
	}
}
.swal2-actions{
	.swal2-confirm{
		background: linear-gradient(#e60505, #ba0101) !important; 
	}
}
@media (max-width: 767px){
	.question{
		margin-top:1rem;
		h1{
			font-size: x-large !important;
		}
		.btn-red{
			width: 100% !important;
		}
	}
}
// QUESTION-END


// MAP-CONTACTS
.map-contacts{
	position: relative;
	.map-content{
		width: 18rem;
		padding: 1.5rem;
		top:4rem;
		position: absolute;
		background-color: #fff;
		right:10%;
		z-index: 999;
	}
	.map{
		width: 100%;
	}
	a{
		color:#002494;
		font-weight:bold;
	}
	.btn-red{
		margin-top:3rem;
		height:3rem;
	}
}
@media (max-width: 767px){
	.map-contacts{
		display: flex;
		flex-direction: column-reverse;
		.map-content{
			display: block;
			position: static;
			width: 100%;
		}
	}
}

// MAP-CONTACTS-End

// TRUST
.trust-us{
	padding-top:6rem;
	h1{
		font-weight:bold;
		text-align: center;
	}
	img{
		margin-top:4.5rem;
		width: 100%;
	}
	.right-img{
		text-align:right;
	}
}
@media (max-width: 767px){
	.trust-us{
		text-align: center;
		h1{
			font-size: x-large;
		}
	}
	.right-img{
		text-align: center !important;
	}
}

// TRUST-US-END

// COMPANY
.company-main{
	padding-top:90px;
	h1{
		font-weight:bold;
	}
	h5{
		font-weight:bold;
	}
	p{
		color:#515151;
		font-size: 14px;
		font-weight:500;
	}
}
@media (max-width: 767px){
	.company-main{
		h1{
			font-size: x-large;
			text-align: center;
		}
	}
}

// COMPANY-END


// BURDER-BUTTON
.burger{
	width: 3rem;
	height: 3rem;
	display: none;
	border:1px solid blue;
	position: fixed;
	z-index: 99;
	border-radius: 5px;
	background-color: #fff;
	top: 1.5rem;
	right: 1rem;
	cursor:pointer;
	text-align: center;
	div{
		position: relative;
		height:100%;
	}
	span{
		width: 2.3rem;
		height: 3px;
		background-color: black;
		display: block;
		margin-top: calc(50% - 2px);
		margin-left: 4px;
		&::after{
			content: "";
			width: 2.3rem;
			display: block;
			height: 3px;
			position: absolute;
			background-color: black;
			top: -11px;
		}
		&::before{
			content: "";
			width: 2.3rem;
			display: block;
			height: 3px;
			position: absolute;
			background-color: black;
			bottom: 31px;
		}
	}
}

// BURDER-BUTTON-END


@media (min-width: 768px) and (max-width: 1000px) {
	.header{
		.logo{
			text-align: center;
		}
		p{
			display: none;
		}
		i{
			display: none;
		}
		a{
			display: none;
		}
		h6{
			display: none;
		}
		.btn-red{
			display: none;
		}
	}
	.burger {
		display: block !important;
	}
	.nav-panel-mobil{
		form{
			input{
				width: 100% !important;
			}
		}
		i{
			margin-right:1rem;
		}
		img{
			margin-right:1rem;
		}
	}
	.advantages{
		.card-main{
			display: block;
			p{
				width: auto;
			}
		}
	}
	.main-carousel{
		.carousel-text{
			h1{
				font-size: larger !important;
			}
		}
		.carousel-indicators{
			display:none;
		}
	}
	.serteficate{
		background-position-x:center;
	}
	.company{
		.bg-item{
			display:none;
		}
		ul{
			margin-left:1rem;
			li{
				position: static;
			}
		}
	}
	.trust-us{
		text-align:center;
		.right-img{
			text-align: center !important;
		}
	}

	.burder{
		display:block !important;
	}
	.request{
		form{
			height:3rem;
			input{
				height:2.5rem;
			}
		}
	}
	.production-img{
		img{
			width: 100%;
			margin-top: 1rem;
		}
	}
}
@media (min-width: 1024px) and (max-width: 1300px) {
	.header{
		h6{
			font-size: .7rem;
		}
	}
	.nav-panel{
		.navbar li{
			padding: 1rem 0 !important;
		}
	}
	.main-carousel{
		.carousel-text h1{
			font-size: larger;
		}
	}
	.company{
		background-position-x:center;
		.bg-item{
			display:none;
		}
		ul{
			margin-left:1rem;
			li{
				position: static;
			}
		}
		
	}
	.advantages{
		.card-main{
			display: block;
			p{
				width: auto;
			}
		}
	}
	.production-img{
		img{
			width: 100%;
			margin-top: 1rem;
		}
	}
	.request{
		form{
			height:3rem;
			input{
				height:2.5rem;
			}
		}
	}
}
