// NAV-PANEL

.nav-panel{
	background-color:$bgNav;
	.container{
		padding-left: 0;
	}
	.navbar{
		padding:0;
		ul{
			padding-top: 5px;
		}
		li{
			transition: all .3s ease;
		}
		.custom-hover {
			display: inline-block;
			overflow: hidden;
			text-decoration: none;
			position: relative;
			 span{
				transition: all .5s;
			}
			&:hover{
				span{
					color: rgba(255, 255, 255, 0.904);
					text-shadow: 0 0 5px #fff;
				}
			}
			span{
				&:before, &:after {
					content: '';
					position: absolute;
					transition: transform .5s ease;
				}
			}
			&:before, &:after {
			  right: 0;
			  bottom: 0;
			}
			a > span {
				position: relative;
			}
			&:before {
			  width: 100%;
			  height: 2px;
			  transform:  translateX(-100%);
			}
			&:after {
			  width: 2px;
			  height: 100%;
			  transform:  translateY(100%);
			}
			> span {
			  display: block;
			  &:before, &:after {
				left: 0;
				top: 0;
				background: #fff;
			  }
			  &:before {
				width: 100%;
				height: 2px;
				transform:  translateX(100%);
			  }
			  &:after {
				width: 2px;
				height: 100%;
				transform:  translateY(-100%);
			  }
			}
			&:hover:before, &:hover:after, &:hover > span:before, &:hover > span:after {
			  transform:  translate(0, 0);
			}
		  }
		a{
			color:#fff !important;
			font-size: 18px;
			font-weight: 600;
			padding: 10px 1.4rem;
		}
	}
}

.search_box{
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	transform-origin: right;
	transition: all .4s;
	&:hover, &:active{
		input{
			transform: translate(10px);
		}
	}
	a{
		float: right;
		background: #fff;
		height: 45px;
		width: 45px;
		position: relative;
		border-radius: 5px;
		img{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
	input{
		height: 45px;
		transition: all 1s;
		padding: 15px 0 15px 25px;
		width: calc(100% - 45px);
		border: none;
		border-radius: 5px;
		transform: translate(150%);
		margin-right: 0 !important;
	}
}

.breadcrumb_style-custom{
	padding-left: 0px;
	a{
		text-decoration: none;
		&:nth-last-child(1){
			color: #898991;
			&:hover{
				color: #898991;
			}
		}
	}
	span img{
		margin-left: 5px;
		margin-top: -5px;
	}
}


// BURDER-BUTTON
.burger-menu-btn{
  width: 3rem;
  height: 2.5rem;
  background-color: #838efb;
  border-radius: 5px;
  position: fixed;
  top: 1.5rem;
  right:2rem;
  cursor: pointer;
  transition: all 1s ease;
  z-index: 9999;
  display: none;
}
.burger-menu-lines,
.burger-menu-lines::after,
.burger-menu-lines::before{
	position: absolute;
	width: 2rem;
	height: 5px;
	background-color: #fff;
}
.burger-menu-lines{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all .5s ease;
}
.burger-menu-lines::after{
	content: '';
	top: -12px;
	transition: all .5s ease;
}
.burger-menu-lines::before{
	content: '';
	top: 12px;
	transition: all .5s ease;
}

.burger-menu-lines-active .burger-menu-lines{
	background-color: transparent;
}

.burger-menu-lines-active .burger-menu-lines::before{
	top: 0;
	transform: rotate(-45deg);
}

.burger-menu-lines-active .burger-menu-lines::after{
	top: 0;
	transform: rotate(45deg);
	
}
// BURDER-BUTTON-END
.nav-panel-mobil{
	position: fixed;
	background-color: #fff;
	height:100vh;
	z-index: 99;
	transition:.5s;
	width: 100%;
	text-align: center;
	transform: translateX(-100%);
	font-size:20px;
	font-weight:bold;
	padding-top:1rem;
	top: 0;
	display: flex;
	align-items: center;
	p{
		margin:3rem 0 0 0;
	}
	form{
		height:5rem;
		position: relative;
		img{
			position: absolute;
			right: 1rem;
		}
		input{
			height:4rem;
			width: 100%;
			margin-right: 0 !important;
		}
	}
	.btn-red{
		margin-top: 4rem;
		height:4rem;
	}
}
@media (max-width: 767px){
	.nav-panel{
		display: none;
	}
	.burger-menu-btn{
		display: block
	}
	.nav-panel-mobil{
		i{
			margin-right:1rem;
		}
		img{
			margin-right:1rem;
		}
	}
	.nav-panel-mobil-active{
		transform: translateX(0);
	}
}
@media (max-width: 768px){
	.burger-menu-btn{
		display: block
	}
	.nav-panel-mobil-active{
		transform: translateX(0);
	}
}
// NAV-PANEL-END