.product-card{
	padding-bottom: 12rem;
	.card-body{
		padding:0 0 0 3.7rem;
		width: 95%;
		ul{
			font-size: 14px;
			font-weight: 500;
			color:#252539;
			padding:1rem 0 0 0;
			li{
				list-style-type: none;
			}
		}
		.btn-red{
			margin-top: 1.5rem;
			height: 3.5rem;
			width: 96%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.card-text{
		padding-top: 1rem;
	}
	.card{
		border: none;
		box-shadow: 0px 8px 24px 0px rgba(184, 184, 197, 0.33);
		padding: 2.5rem 2.5rem 1.4rem 2.5rem;
	}
	.rf-product{
		.card-text{
			small{
				color:#9d9da6 !important;
			}
		}
		img{
			width: 2.1rem;
		}
	}
	.color{
		img{
			width: 2.3rem;
		}
	}
}
@media (max-width: 767px){
	.product-card{
		padding-bottom: 5rem;
		text-align: center;
		img{
			width:100%;
			margin-bottom: 1rem;
		}
		.card-body{
			padding: 0;
			width:100%;
		}
	}
}
@media (min-width: 768px) and (max-width: 1024px){
		.product-card{
			padding-bottom: 5rem;
			text-align: center;
		img{
			width:100%;
			margin-bottom: 1rem;
			max-height: 17rem;
		}
		.card-body{
			padding: 0;
			width: 100%;
		}
	}
}